.main-content {
    display: grid;
    min-height: 1000px;
    grid-template-columns: 300px 700px;
    max-width: 90%;
}

.left-section {
    background-color: #333;
}

.right-section {
    width: 90%;
}


.left-content {
    padding: 1rem;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.profile-details {
    color: white;
}

.profile-image {
    width: 60%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 5px white solid;
    border-radius: 30%;
}

.name {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.8rem;
    letter-spacing: 0.02px;
    text-align: center;
    text-transform: uppercase;
    /* color: white; */
}

.designation {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    color: lightblue;
}

.description {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}

.icon {
    color: white;
    text-decoration: none;
}

.social-links {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    align-content: space-between;
    line-height: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(253, 253, 232);
}

.skills-section {

}

.skills {
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
}

.skill {
    margin-bottom: 0.25rem;
}

.skill-name {
    font-size: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}

.progress-bar {
    border: 1px solid white;
    height: 4px;
    border-radius: 4px;
    position: relative;
    /* width: 40%; */
    /* background-color: white; */
}

.progress-bar-inner {
    background-color: lightblue;
    height: 100%;
    border-radius: 4px;
}

/* .progress-bar::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    height: 100%;
    border-radius: 4px;
    width: 40%;
} */

.right-main-content {
    padding: 2rem 3rem;
}

.detail-section {
    padding-bottom: 1rem;
}

.right-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}

.right-details {
    font-size: 0.8rem;
    letter-spacing: 0.2px;
    color: rgb(71, 71, 71);
    padding: 0.7rem;
}

@media (max-width: 674px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}